{% extends 'base.html' %}

{% with title='Track {{ track.name }}' %}
{% endwith %}

{% block content %}

    <table>
        <tr>
            <th>TrackId</th>
            <th>Name</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Composer</th>
        </tr>
        <tr>
            <td>{{ track.track_id }}</td>
            <td>{{ track.name }}</td>
            <td>{{ track.album.title }}</td>
            <td>{{ track.album.artist.name }}</td>
            <td>{{ track.composer }}</td>
        </tr>
    </table>

{% endblock %}